@model SistemaFacturacionMVC.Models.invoiceProduct
@{
    ViewData["Title"] = "Eliminar detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar Detalle Factura</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <form method="post" asp-action="Delete">
                <table>
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.idInvoice)</td>
                        <td>
                            @Html.DisplayFor(m => m.idInvoice)
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.idProduct)</td>
                        <td>
                            @Html.DisplayFor(m => m.idProduct)
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.price)</td>
                        <td>
                            @Html.DisplayFor(m => m.price)
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.quantity)</td>
                        <td>
                            @Html.DisplayFor(m => m.quantity)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="@Url.Action("ConfirmacionEliminar","invoiceProducts",new { numeroFactura = Model.idInvoice, codigoProducto = Model.idProduct })"> <input type="button" value="Eliminar Detalle" class="btn btn-danger" /></a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>





