@model IEnumerable<SistemaFacturacionMVC.Models.spProducts>
@{
    ViewData["Title"] = "Ventas por producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    @if (TempData["mensaje"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["mensaje"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <script type="text/javascript">
        function mostrarDatos() {
            var idProduct = document.getElementById("product").value;

            var url = "@Url.Action("product", "Reports", new { idProduct = "param-id" })";
            url = url.replace("param-id", idProduct);
                $("#result").load(url);
                window.location.href = url;
        }
        </script>

    <div class="row">
        <div class="col-sm-6">
            <h3>Listado de ventas</h3>
        </div>
        <div class="col-sm-7">
            <label class="control-label">Productos</label>
            <select id="product" class="form-control" onchange="mostrarDatos()" asp-items="ViewBag.idProduct"></select>
            <hr />
            <input type="date" onchange="analizarFechas();" class="form-control" id="fechaPrimero">
            <hr />
            <input type="date" onchange="analizarFechas();" class="form-control" id="fechaSegundo">
        </div>
    </div>
    <hr />
    <div class="row">
        @if (Model != null && Model.Count() > 0)
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.idProduct)</td>
                        <td>@Html.DisplayNameFor(m => m.name)</td>
                        <td>@Html.DisplayNameFor(m => m.dateInvoice)</td>
                        <td>@Html.DisplayNameFor(m => m.Total_Vendido)</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.idProduct</td>
                            <td>@item.name</td>
                            <td>@item.dateInvoice)</td>
                            <td>@item.Total_Vendido</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Actualmente no existe ninguna venta</p>
        }
    </div>
    <hr />
</div>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
