@model IEnumerable<SistemaFacturacionMVC.Models.invoice>
@{
    ViewData["Title"] = "Index";
}

<h1>Facturas</h1>
<div class="container">

    @if (TempData["menssage"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["menssage"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    @if (TempData["menssageDelete"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["menssageDelete"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <div class="row">
        <div class="col-sm-6">
            <a class="btn btn-success d-block" asp-action="Create" asp-controller="invoices"> Agregar Factura </a>
        </div>
    </div>
    <div class="row">
        @if (Model.Count() > 0)
        {
            <table class="table table-dark">
                <thead>
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.id)</td>
                        <td>@Html.DisplayNameFor(m => m.idClient)</td>
                        <td>@Html.DisplayNameFor(m => m.total)</td>
                        <td>@Html.DisplayNameFor(m => m.dateInvoice)</td>
                        <td>@Html.DisplayNameFor(m => m.status)</td>

                    </tr>
                </thead>
                <tbody>
                    @foreach (invoice element in Model)
                    {
                        <tr>
                            <td>@element.id</td>
                            <td>@element.idClient</td>
                            <td>@element.total</td>
                            <td>@element.dateInvoice</td>
                            <td>@element.status</td>
                            <td>
                                <a asp-action="details" asp-route-id="@element.id" class="btn btn-light">Comprar</a>
                                <a asp-controller="invoices" asp-action="Edit" asp-route-id="@element.id" class="btn btn-light">Editar</a>
                                <a asp-controller="invoices" asp-action="Delete" asp-route-id="@element.id" class="btn btn-danger">Eliminar</a>

                            </td>
                        </tr>
                    }
                </tbody>

            </table>

        }
        else
        {
            <h2>No hay información aún</h2>
        }
    </div>
</div>

